.main-header {
  position: relative;
  background: url(../img/Imagen02.jpg);
  background-size: cover;
  min-height: 600px;
}

.main-header2 {
  background: #0869A6;
  background-size: cover;
  min-height: 500px;
}

.main-header2 p {
  font-size: 18px;
}

.main-header3 {
  background: #C5DBE0;
  background-size: cover;    
  min-height: 500px;
}

.main-header4 {
  background: #C4C4C4;
  background-size: cover;
  min-height: 600px;
}

.main-header5 {
  background: url(../img/Imagen05.jpg);
  background-size: cover;    
  min-height: 600px;
}


body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}